body {
  font-family: "Jersey 10", sans-serif;
  font-size: 25px;
  background-color: black;
  color: rgb(250, 70, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  margin: 0;
}

button {
    background-color: black;
    color: rgb(250, 70, 0);
    font-family: "Jersey 10", sans-serif;
    font-size: 20px;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}